<li>
	<f:switch expression="{settings.feedbackLayout}">
		<f:case value="1">
			<f:render partial="Layout/Trendy" arguments="{_all}" />
		</f:case>
		<f:case value="2">
			<f:render partial="Layout/Traditional" arguments="{_all}" />
		</f:case>
		<f:case value="3">
			<f:render partial="Layout/Classic" arguments="{_all}" />
		</f:case>
		<f:case value="4">
			<f:render partial="Layout/Modern" arguments="{_all}" />
		</f:case>
		<f:defaultCase>
			<f:render partial="Layout/Default" arguments="{_all}" />
		</f:defaultCase>
	</f:switch>
</li>
