<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="content">
	<div class="container">
		<div class="ns-alert-wrap">
			<div class="ns-alert-box">
				<div class="ns-alert-close"><i class="fa fa-times"></i></div>
				<f:if condition="{settings.thankyoutitle}">
					<div class="ns-alert-header">
						<h3>{settings.thankyoutitle}</h3>
					</div>
				</f:if>
				<f:if condition="{settings.thankyoumsg}">
					<div class="ns-alert-content">
						<p>{settings.thankyoumsg -> f:format.raw()}</p>
					</div>
				</f:if>
			</div>
		</div>
		<f:switch expression="{settings.feedbackType}">
			<f:case value="1">
				<f:if condition="{settings.showOnlyFeedback} == '0'">
					<f:if condition="{exist} == '' || {settings.restrictMultipleFeedback} == '0' ">
						<f:then>
							<div class="ns-form-wrapper">
								<f:render partial="Feedback/FullFeedbackForm" arguments="{_all}" />
								<h3 class="fullfeedback-thankyou-msg"><f:translate key="tx_nsfeedback_domain_model_feedbacks.thankyou" /></h3>
							</div>
						</f:then>
					</f:if>
				</f:if>
				<f:if condition="{settings.formConf.enableFeedback}">
					<ul class="feedback-list ns-feedback-list">
						<f:for each="{exist.0.feedbacks}" as="feedback">
							<f:if condition="{settings.feedbackType} == '1'">
								<f:render partial="Feedback/Feedbacks" arguments="{_all}" />
							</f:if>
						</f:for>
					</ul>
				</f:if>
			</f:case>
			<f:case value="2">
				<f:if condition="{exist} == '' || {settings.isUserChangeRating}">
					<div class="ns-ratings">
						<f:render partial="Feedback/Ratings" arguments="{_all}" />
						<h3 class="rating-thankyou-msg"><f:translate key="tx_nsfeedback_domain_model_feedbacks.thankyourating" /></h3>
					</div>
				</f:if>
				<f:if condition="{settings.ratingenable}">
					<f:render partial="Report/Ratings" arguments="{_all}" />
				</f:if>
			</f:case>
			<f:case value="3">
				<f:if condition="{exist} == '' || {settings.restrictMultipleFeedback} == '0' ">
					<f:then>
						<div class="send-msg" id="ns-c{cData.uid}">
							<f:render partial="Feedback/QuickFeedback" arguments="{_all}" />
						</div>
					</f:then>
				</f:if>
				<f:if condition="{settings.quickenable}">
					<f:render partial="Report/YesNo" arguments="{_all}" />
				</f:if>
			</f:case>
			<f:case value="4">
				<f:if condition="{exist} == '' || {settings.restrictMultipleFeedback} == '0' ">
					<f:then>
						<div class="ns-popup">
							<f:render partial="Feedback/Popup" arguments="{_all}" />
						</div>
					</f:then>
				</f:if>
				<f:if condition="{settings.popupSettings.enableFeedback}">
					<ul class="feedback-list">
						<f:for each="{feedbacks.0.feedbacks}" as="feedback">
							<f:if condition="{feedback.feedbackType}=='4'">
								<li id="popup-{feedback.uid}">
									<f:render partial="Feedback/Feedbacks" arguments="{_all}" />
								</li>
							</f:if>
						</f:for>
					</ul>
				</f:if>
			</f:case>
		</f:switch>
	</div>
</f:section>
</html>