* {
	padding: 0;
	margin: 0;
	font-size: 16px;
}
body {
	background-color: #EEEEEE;
	color: #333333;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 62.5%;
}
/* PageElements */
#wrapper {
	margin: 1em auto;
	min-width: 770px;
	max-width: 990px;
	background-color: #FFFFFF;
}
/* Header*/
header #header {
	heigth: 110px;
	margin-bottom: 1rem;
}
#pageheader {
	display: flex;
	flex-flow: row-nowrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
#logo {
	width: 110px;
	heigth: 110px;
	margin: 0;
	order: 1;
}
#logo .logo {
	border: 0;
}
#headertitle {
	width: 70%;
	order: 2;
}
#headertitle hr {
	width: 85%;
	height: 1rem;
	color: #FFFFFF;
	border-top: 0.25rem solid #CC0000;
	border-bottom: 0.25rem solid #0000CC;
	text-align: center;
	line-height: 1.4rem;
	bottom: 1rem;
	font-size: 0.8rem;
	font-style: italic;
}
#headertitle1 {
	color: #000000;
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	line-height: 100%;
}
#headertitle2 {
	color: #666666;
	text-align: center;
	margin-top: 1rem;
	font-size: 1.5rem;
	font-weight: italic;
	line-heigth: 100%;
}
#stm {
	display: block;
	width: 15%;
	height: 110px;
	text-align: right;
	order: 3;
	margin: 1rem 1rem 0 1rem;
}
ul.stm-menu li {
	list-style: none;
	line-height: 100%;
}
ul.stm-menu a {
	text-decoration: none;
	color: #000044;
}

@media (max-width: 800px) {
	#wrapper {
		min-width: 300px;
		max-width: 799px;
	}

}
