* {
	padding: 0;
	margin: 0;
	font-size: 16px;
}

.hrclearboth, .clearboth, .clearleft, .clearright {
	clear: both;
	position: absolute;
	top: -1000px;
	font-size: 0.1rem;
	height: 0;
	visibility: hidden;
}
.clearleft {
	clear: left;
}
.clearright {
	clear: right;
}

body {
	background: #eee;
	color: #333;
	text-align: justify;
	font-size: 62.5%;
	font-family: Arial, Helvetica, sans-serif
}
/* Seitenstruktur Wrapper */
#wrapper {
	margin: 0 auto;
	min-width: 770px;
	max-width: 990px;
	background: #ffffff;

}

/* Content Header */
header .headerheight {
	background: #ffffff;
	height: 110px;
	margin-bottom: 1rem;

	display: flex;
	flex-flow: column nowrap;

	border: 1px solid #E00000;
}

#logo {
	width: 110px;
	height: 110px;
	margin: 0;

	background: #e00000;
}
#logo .logo {
	border: 0;
}
#stm {
	width: 15%;
	height: 110px;
	padding: 5px;
	text-align: right;

	background: #2b82d9;
}
#c29052+ul li {
	color: #000066;
	text-decoration: none;
	background: #0f0;
}
#headertitle hr {
	width: 40%;
	height: 15px;
	color: #FFFFFF;
	border-top: 5px solid #CC0000;
	border-bottom: 5px solid #0000CC;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}
#headertitle {
	width: 50%;
	background: #e49f9f;
}
#headertitle1 {
	color: #000000;
	text-align: center;
	margin-top: 35px;
	font-size: 2.0rem;
	font-weight: bold;
	line-height: 100%;
}
#headertitle2 {
	color: #666666;
	text-align: center;
	margin-top: 0;
	font-size: 1.5rem;
	font-style: normal;
	line-height: 100%;
}
/* Content Footer*/
footer {
	margin-top: 1.5rem;
	height: 1.5rem;
	border-top: 3px solid #CC0000;
	border-bottom: 3px solid #0000CC;
	text-align: center;
	bottom: 1rem;
	font-size: 0.8rem;
	font-style: italic;
}

/* Hauptinhalt */
#maincontent {
	display: flex;
	flex-flow: row nowrap;
	align-itrems: flex-start;
	justify-content: space-between;
	width: 100%;
}
#maincontent > * {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: stretch;
}
#left {
	flex-grow: 1;
	width: 15%;
}
#center {
	width: 65%;
	padding: 0;
	margin: 0.5rem;
	flex-grow: 5;
}
#right {
	width: 15%;
	flex-grow: 1;
	margin: 1rem;
}
/* Navigationen */
/* Pfadnavigation */
#pfad {
	margin: 0;
	width: 100%;
	height: 1.6rem;
	line-height: 1.2rem;
	font-size: 0.8rem;
	font-style: normal;
	background: #000099;
	color: #FFFFFF;
}
#pfad a:link,
#pfad a:visited,
#pfad a:hover,
#pfad A:focus {
	color: #FFCC33;
	font-size: 0.8rem;
	line-height: 1.2rem;
	text-decoration: none;
	font-weight: bold;
	background: #000099;
}
/* Mainnavigation */
/* Menu */
#menu {
	/*
	margin-left: -1.5rem;
	*/
	margin-top: 0.5rem;
}
/* Content Mainmenu */
ul.mainnav li {
	margin-bottom: 0.2rem;
	margin-left: 0;
	list-style: none outside;
	font-size: 0.9rem;
	border: #000099 solid 1px;
}
ul.mainnav li ul li {
	margin-bottom: 0;
}
ul.mainnav li a {
	display: block;
	text-decoration: none;
}
ul.mainnav li a:link,
ul.mainnav li ul li a:link {
	border: #E1E8F1 solid 0.5rem;
	color: #000099;
	background: #E1E8F1;
}
ul.mainnav li a:visited,
ul.mainnav li ul li:visited,
ul.mainnav li a:focus,
ul.mainnav li ul li a:focus {
	background: #FFFFCC;
	color: #000099;
	border: #FFFFCC solid 0.5rem;
}
ul.mainnav li a:hover,
ul.mainnav li ul li:hover,
ul.mainnav li a:active,
ul.mainnav li ul li a:active {
	background: #FFFFCC;
	color: #000099;
	border: #FFFFCC solid 0.5rem;
}
/* Alphabetical Navigation */
#abcmenu {
	margin-bottom: 1.0rem;
}
.cM {
	margin-top: 1.0rem;
	list-style: none inside;
	display: block;
	color: #FFFFFF;
	background: #000099;
	border-right: 3px solid #e00000;
	border-left: 3px solid #e00000;
	text-align: center;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-bottom: 1.0rem;
}
.cM li.cM_NO,
.cM li.cM_ACT,
.cM li.cM_CUR {
	border: 1px solid #000099;
	display: inline;
	background: #000099;
	margin-left: 0;
}
.cM_NO a,
.cM_NO a:link,
.cM_NO a:visited,
.cM_NO A:focus {
	color: #FFCC33;
	text-decoration: none;
	border: 3px solid #000099;
}
.cM_CUR a,
.cM_CUR a:link,
.cM_CUR a:visited,
.cM_CUR a:hover,
.cM_CUR A:focus,
.cM_NO a:active,
.cM_NO a:hover {
	color: #000099;
	background: #FFFFCC;
	border: 3px solid #FFFFCC;
}
nav dl.csc-menu-4 {
	border-left: 1px solid #0033FF;
	border-right: 3px solid #0033FF;
	border-bottom: 3px solid #0033FF;
}
nav dl.csc-menu-4 dt {
	border-top: 1px solid #0033FF;
	font-size: 1rem;
	font-style: italic;
}
nav dl.csc-menu-4 dt dd {
	font-size: 1rem;
	color: #000000;
	margin-bottom: 0.5rem;
}

/* Content: Teasermenue mit Bild und Kurzbeschreibung */
.teasermenu * {
	margin:0;
	padding: 0;
	display: block;
}
.teasermenu ul {
	list-style-type: none;
	width: 100%;
	font-size: 0.8rem;
	background-color: #FFFCCC;
	border-left: 1px solid #0033FF;
	border-right: 3px solid #0033FF;
	border-bottom: 3px solid #0033FF;
	border-top: none;
	line-height: 1.3rem;
}
.teasermenu ul li {
	padding: 5px;
	border-top: 1px solid #0033FF;
	/* //height: 1px;
	min-height: 1px;*/
	min-height: 100%;
	height: 100px;
}
.teasermenu ul li a.bildlink {
	width: 75px;
	float: left;
}
.teasermenu ul li a.bildlink img {
	width: 75px;
	height: 100px;
	vertical-align: top;
	float: left;
}
.teasermenu ul li dl {
	width: 550px;
	margin-left: 100px;
}
.teasermenu ul li dl dt {
	font-size: 1.2rem;
	font-weight: bold;
	vertical-align: 1.0rem;
}
.teasermenu ul li dl dt a {
	display: inline;
}
.teasermenu ul li dl dd {
	padding-top: 0.5rem;
	font-style: italic;
}
.teasermenu ul li .clearer {
	clear: both;
	visibility: hidden;
	font-size: 0;
}

/* Standardformate */
/* Header */
/* Header und Text */
header h1 {
	color: #E00000;
}
h1 {
	text-align: center;
	font-size: 1.4rem;
	line-height: 1.5rem;
}
h2 {
	text-align: center;
	font-size: 1.3rem;
	line-height: 1.5rem;
}
h3 {
	text-align: center;
	font-size: 1.2rem;
	line-height: 1.3rem;
}
h4 {
	text-align: center;
	font-size: 1.0rem;
	line-height: 1.1rem;
}
h1 + h2 {
	margin-bottom: 0.1rem;
	font-size: 1rem;
	font-style: italic;
	color: #000000;
}
h2 p i {
	margin-top: 0;
}
a {
	font-style: normal;
	list-style: none inside;
}
/* Text and Listing */
p, ul, ol {
	color: #333;
	font-size: 1rem;
	line-height: 1.4rem;
	margin-bottom: 0.9rem;
}

p.bodytext i {
	color: #000066;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	text-align: justify;
}
p + i {
	color: #000066;
	font-style: italic;
	margin-top: 1.5rem;
}
blockquote {
	margin: 0 1rem;
	background: #ffffc7;
}
blockquote  p.bodytext {
	padding: 0.5rem;
	font-style: italic;
}
blockquote p.bodytext p {
	margin-top: 0.5rem;
}

figure {
	padding: 0.3rem;
	/*		margin: 0.1rem 0.5rem; */
	text-align: center;
	border: thin #C0C0C0 solid;
	background: #E1E8F1;
}
figcaption {
	text-align: center;
	font-style: italic;
	margin-bottom: 0.1rem;
	color: #000066;
	background: #E1E1F1;
}
ol.ce-bullets li {
	margin-left: 1rem;
	list-style: square outside;
}
ul.ce-bullets li {
	margin-left: 1rem;
	list-style: circle outside;

}
.image {
	max-width: 350px;
}
.image-caption {
	color: #000099;
}
.image-embed-item {
	display: inline-block;
}
.werktitel {
	font-weight: bold;
	font-style: italic;
}

div.frame-type-header + div.frame-type-text {
	margin-top: 1rem;
}

br {
	margin-top: 0;
}
.align-right {
	text-align: right;
}
.align-left {
	text-align: left;
}
.align-center {
	text-align: center;
}
.align-justify {
	text-align: justify;
}
/* Internal-link*/
.internal-link:before {
	font-family: FontAwesome;
	color: #E00000;
	content: "\f182";
	margin-right: 0.5em;
}

/* Normdaten für Biographien */

div.person {
	margin-top: 0.5rem;
}

h4.person {
	text-align: center;
	color: #FFCC33;
	background: #000099;
	margin: 0 0 0.3rem 0;
}

.person-cat {
	padding: 0.2rem;
	background: #000099;
	color: #FFCC33;
	display: inline-block;
	width: 6rem;
}
.person-link, .person-nolink {
	padding: 0.2rem;
	width: 6rem;
}

.person-link a {
	text-decoration: none;
}
.person-nolink {
	color: #E00000;
}
.person-entry {
	background: #C0C0C0;
	margin: 0;
}
/* EXT: contentrating Begin */
h4.contentrating {
	color: #000099;
	font-size: 0.9rem;
	margin-top: 0.5rem;
}
.person-men {
	background: #5bc0de;
	background: #0022ff
}
.person-women {
	background: #e49f9f;
}

/* Internal-link
.internal-link:before {
	font-family: FontAwesome;
	color: #E00000;
	content: "\f182";
	margin-right: 0.5em;
}
*/
div.test {
	height: 5rem;
	width: 5rem;
	background: #e00000;
}
.tx-contentrating-pi1 {
	position: relative;
	max-width:300px;
}

.tx-content-rating-rate-wrapper {
	position: relative;
	z-index:31;
	width:100%;
	height:8px;
	cursor:pointer;
	overflow:hidden;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, 0.4);
	box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, 0.4);
}

.tx-content-rating-rate-full {
	position: absolute;
	height:8px;
	width:100%;
	background: rgb(224,243,250);
	background: -moz-linear-gradient(top,  rgba(224,243,250,1) 0%, rgba(216,240,252,1) 50%, rgba(184,226,246,1) 51%, rgba(182,223,253,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,243,250,1)), color-stop(50%,rgba(216,240,252,1)), color-stop(51%,rgba(184,226,246,1)), color-stop(100%,rgba(182,223,253,1)));
	background: -webkit-linear-gradient(top,  rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%);
	background: -o-linear-gradient(top,  rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%);
	background: -ms-linear-gradient(top,  rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%);
	background: linear-gradient(to bottom,  rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=0 );
}

.tx-content-rating-rate-value {
	position: absolute;
	height:8px;
	width:0%;
	background: rgb(183,222,237);
	background: -moz-linear-gradient(top,  rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(183,222,237,1)), color-stop(50%,rgba(113,206,239,1)), color-stop(51%,rgba(33,180,226,1)), color-stop(100%,rgba(183,222,237,1)));
	background: -webkit-linear-gradient(top,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%);
	background: -o-linear-gradient(top,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%);
	background: -ms-linear-gradient(top,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%);
	background: linear-gradient(to bottom,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=0 );
	-webkit-box-shadow:  1px 0px 2px 0px rgba(0, 0, 0, 0.7);
	box-shadow:  1px 0px 2px 0px rgba(0, 0, 0, 0.7);

	-webkit-transition: width 1s ease-in-out;
	-moz-transition: width 1s ease-in-out;
	-o-transition: width 1s ease-in-out;
	transition: width 1s ease-in-out;
}

.tx-content-rating-text-wrapper {
	position: relative;
	margin-top:10px;
}

.tx-content-rating-text-left {
	float:left;
}

.tx-content-rating-text-right {
	float:right;
}

.tx-content-rating-clear {
	height:0px;
	font-size:0px;
	line-height:0px;
	clear:both;
}

.tx-content-rating-line-wrapper {
	position: relative;
	z-index:30;
	height:8px;
	margin-top:-4px;
}

.tx-content-rating-line-sep-big {
	width:1px;
	height:8px;
	position: absolute;
	background:rgb(160,160,160);
}

.tx-content-rating-line-sep-small {
	width:1px;
	height:8px;
	position: absolute;
	background:rgb(190,190,190);
}

.tx-content-rating-mouse-wrapper {
	position: absolute;
	width:100%;
}

.tx-content-rating-mouse-sep {
	position: absolute;
	height:8px;
	opacity:0;
	background: rgb(245,246,246);
	background: -moz-linear-gradient(top,  rgba(245,246,246,1) 0%, rgba(219,220,226,1) 21%, rgba(184,186,198,1) 49%, rgba(221,223,227,1) 80%, rgba(245,246,246,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,246,246,1)), color-stop(21%,rgba(219,220,226,1)), color-stop(49%,rgba(184,186,198,1)), color-stop(80%,rgba(221,223,227,1)), color-stop(100%,rgba(245,246,246,1)));
	background: -webkit-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%);
	background: -o-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%);
	background: -ms-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%);
	background: linear-gradient(to bottom,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 );
	-webkit-box-shadow:  1px 0px 2px 0px rgba(0, 0, 0, 0.55);
	box-shadow:  1px 0px 2px 0px rgba(0, 0, 0, 0.55);
}

.tx-content-rating-mouse-sep:hover {
	opacity:1;
}

.tx-content-rating-mouse-hint {
	opacity:0;
	position: absolute;
	padding:3px 0px 5px;
	text-align: center;
	background:red;
	width:20%;
	margin-top:-30px;
	background: rgb(245,246,246); /* Old browsers */
	-webkit-box-shadow:  1px 0px 2px 0px rgba(0, 0, 0, 0.7);
	box-shadow:  1px 0px 2px 0px rgba(0, 0, 0, 0.7);
	-webkit-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
	color:rgb(30,30,30);
}

p.contentrating {
	font-size: 0.8rem;
	color: #000099;
}

.tx-werit-products {
	background: #E1E8F1;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border: #000099 solid 2px;
}

.tx-content-rating-text-left, .tx-content-rating-text-right {
	color: #000099;
	font-size: 0.8rem;
}

.tx-content-rating-countspan, .tx-content-rating-percspan {
	font-size: 1rem;
}
.ratingCount {
	font-size: 0.8rem;
	color: #333333;
	content: "\f081";
}
/* EXT:contentrating - End */
.glyphicon-user {
	font-weight: lighter;
	font-style: italic;
}
.newsauthor {
	font-weight: bold;
}

ul.pager {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

li.previous, li.next {
	list-style-type: none;
}

.news-author-name {
	display: block;
	font-size: 0.8rem;
	color: #000099;
}

.news-text-wrap h4 {
	text-align: left;
}

.news-list-author {
	margin-left: 1rem;
}
.news-list-date {
	margin-left: 1rem;
	float: right;
	display: block;
	font-size: 0.8rem;
	font-style: italic;
}
.news-list-category {
	margin-left: 1rem;
	font-style: italic
}
.news-text-wrap  h4{
	text-align: left;
}

.news-related h4 {
	margin-bottom: 10px;
	text-align: left;
	color: #E00000;
}

.news-img-caption {
	font-size: 0.8rem;
	background: #FFFFFF;
	font-style: italic;
	border-bottom: 1px solid #000099;
}

.news-list-view .article {
	border: 1px solid #000099;
	margin-bottom: 0;
	background: #cccccc;
}
.news-list-view .header {
	background: #aaaaaa;
}
.news-list-view .header h3 {
	text-align: left;
}
.news-list-view .header  h3 a {
	color: #000099;
}
.news-menu-view {
	background: #cccccc;
}

.news-menu-view  ul li{
	background: #aaaaaa;
	color: #000099;
	text-align: center;
}

.news-menu-view ul li ul li.itrem {
	background: #cccccc;
	color: #000099;
	font-weight: bold;
	text-align: left;
}

.news-menu-view ul li ul li.itrem a {
	display: block;
	text-align: left;
}

.c3 .default .csc-header h4 {
	background: #aaaaaa;
	color: #000099;
}

.important {
	font-style: italic;
	color: #000033;
}
#asidecontent .csc-default .csc-firstHeader,
#asidecontent .csc-default .tx-contentrating-pi1 h4 {
	background: #000099;
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 0.5rem;
	margin-top: 0rem;
	margin-left: 0rem;margin-right: 0rem;
}
#asidecontent .csc-default ul li {
	list-style-type: none;
	list-style-position: inside;
	margin-left: 0rem;
}
#asidecontent .csc-default ul li.odd,
#asidecontent .csc-default ul li.even {
	background: #ffffff;
}

body.cookie-padding {
	padding-bottom: 50px;
}

.cc_banner-wrapper {
	z-index: 9001;
	position: absolute;
}

.cc_container .cc_btn {
	cursor: pointer;
	text-align: center;
	font-size: 0.6rem;
	-webkit-transition: font-size 200ms;
	transition: font-size 200ms;
	line-height: 1rem;
}
.cc_container .cc_message {
	font-size: 0.6rem;
	-webkit-transition: font-size 200ms;
	transition: font-size 200ms;
	margin: 0;
	padding: 0;
	line-height: 1.5rem;
	color: #888;
}
.cc_container .cc_logo {
	display: none;
	text-indent: -1000px;
	overflow: hidden;
	width: 100px;
	height: 22px;
	background-size: cover;
	opacity: 0.9;
	-webkit-transition: opacity 200ms;
	transition: opacity 200ms;
}
.cc_container .cc_logo:hover,
.cc_container .cc_logo:active {
	opacity: 1;
}

@media screen and (min-width: 500px) {
	.cc_container .cc_btn {
		font-size: 0.8rem;
	}
	.cc_container .cc_message {
		font-size: 0.8rem;
	}
}
@media screen and (min-width: 768px) {
	.cc_container .cc_btn {
		font-size: 0.8rem;
	}
	.cc_container .cc_message {
		font-size: 0.8rem;
		line-height: 0.8rem;
	}
}
@media screen and (min-width: 992px) {
	.cc_container .cc_message {
		font-size: 0.8rem;
	}
}
@media print {
	.cc_banner-wrapper,
	.cc_container {
		display: none;
	}
}
.cc_container {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	padding: 10px;
	box-sizing: border-box;
	border-top: 1px solid #888;
}
.cc_container .cc_btn {
	padding: 8px 10px;
	background-color: #c8c8c8;
	cursor: pointer;
	-webkit-transition: font-size 200ms;
	transition: font-size 200ms;
	text-align: center;
	font-size: 0.6rem;
	display: block;
	width: 33%;
	margin-left: 10px;
	float: right;
	max-width: 120px;
}
.cc_container .cc_message {
	-webkit-transition: font-size 200ms;
	transition: font-size 200ms;
	font-size: 0.6rem;
	display: block;
}

@media screen and (min-width: 500px) {
	.cc_container .cc_btn {
		font-size: 0.8rem;
	}
	.cc_container .cc_message {
		margin-top: 0.7rem;
		font-size: 0.8rem;
	}
}
@media screen and (min-width: 768px) {
	.cc_container {
		padding: 10px 50px 10px;
	}
	.cc_container .cc_btn {
		padding: 8px 15px;
		font-size: 0.8rem;
	}
	.cc_container .cc_message {
		font-size: 0.8rem;
	}
}
@media screen and (min-width: 992px) {
	.cc_container .cc_message {
		font-size: 0.8rem !important;
	}
}
.cc_container {
	background: #222;
	color: #fff;
	font-size: 17px;
	font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
	box-sizing: border-box;
}
.cc_container ::-moz-selection {
	background: #ff5e99;
	color: #fff;
	text-shadow: none;
}
.cc_container .cc_btn,
.cc_container .cc_btn:visited {
	color: #000;
	background-color: #c8c8c8;
	transition: background 200ms ease-in-out, color 200ms ease-in-out, box-shadow 200ms ease-in-out;
	-webkit-transition: background 200ms ease-in-out, color 200ms ease-in-out, box-shadow 200ms ease-in-out;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
.cc_container .cc_btn:hover,
.cc_container .cc_btn:active {
	background-color: #d3d3d3;
	color: #000;
}
.cc_container a,
.cc_container a:visited {
	text-decoration: none;
	color: #c8c8c8;
	-webkit-transition: 200ms color;
	transition: 200ms color;
}
.cc_container a:hover,
.cc_container a:active {
	text-decoration: none;
	color: #888;
}

.cc_container .cc_btn a {
	text-decoration: none;
}

/* Fade in up
------------------------------------ */
@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(66px);
		transform: translateY(66px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@keyframes slideUp {
	0% {
		-webkit-transform: translateY(66px);
		-ms-transform: translateY(66px);
		transform: translateY(66px);
	}
	100% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
}
.cc_container,
.cc_message,
.cc_btn {
	animation-duration: 0.8s;
	-webkit-animation-duration: 0.8s;
	-moz-animation-duration: 0.8s;
	-o-animation-duration: 0.8s;
	-webkit-animation-name: slideUp;
	animation-name: slideUp;
}

/*# sourcremappingURL=dark-bottom.css.map */


/* Gridelrements */
.row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
@media (min-width: 500px) {
	.col-xs-12 {
		width: 100%;
	}
	.row-left, .row-right {
		padding: 0;
	}
}
@media (min-width: 800px) {
	.col-md-6 {
		width: 48%;
	}
	.row-left {
		padding-left: 1%;
	}
	.row-right {
		padding-right: 2%;
	}
}

